<div>
  <h1>Welcome to the Sample App</h1>
  <h2>
    This is the home page for the
    <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
  
  <%= link_to "Sing up now!", signup_path %>
  <%= link_to "Log in now!", login_path %>
  <%= link_to "Log out now!", logout_path %>
</div>
